<div class="absolute w-64 h-64 -top-16 -left-16 rounded-full bg-gradient-to-br from-[#e76fb6aa] to-[#E11791] blur-3xl animate-float"></div>
<div class="absolute w-48 h-48 -top-16 -right-16 rounded-full bg-gradient-to-br from-[#e76fb6aa] to-[#E11791] blur-3xl animate-float-delayed"></div>
<div class="absolute w-48 h-48 -bottom-16 -right-16 rounded-full bg-gradient-to-br from-[#e76fb6aa] to-[#E11791] blur-3xl opacity-50"></div>
<div class="absolute w-48 h-48 -bottom-16 -left-16 rounded-full bg-gradient-to-br from-[#e76fb6aa] to-[#E11791] blur-3xl animate-float"></div>
<div class="absolute w-64 h-64 -top-16 -right-16 rounded-full bg-gradient-to-br from-[#e76fb6aa] to-[#E11791] blur-3xl animate-float"></div>
